@model ToDo.ViewModels.ObterGrupoViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Grupos</title>
</head>
<body>
    <div class="text-center">
        <h1>Todos os grupos</h1>
        <div class="text-center p-2">
            <table class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Editar</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Api.Models.Grupo grupo in Model.grupos) {
                        <tr>
                            <td>@grupo.Titulo</td>
                            <td><a class="btn btn-primary" asp-route-id="@grupo.CodGrupo" asp-action="Editar">Editar</a></td>
                            <td><a class="btn btn-primary" asp-route-id="@grupo.CodGrupo" asp-action="Remover">Deletar</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary" asp-controller="Grupo" asp-action="Criar">Criar grupo</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Criar">Criar atividade</a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Ver todas as atividades</a>
    </div>
</body>
</html>